@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Oswald:wght@200;300;400&display=swap');

header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(40,116,252), rgb(65,88,208));
  color: white;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 2px 2px blue;
}